

<div class="form">
<div class="row">
  <div class="large-12 columns">
    <h2>Edit  <%= @item.name%></h2>
  </div>
</div>
<%= form_for @item, url: action_name do |f| %> <%# could have - method: @method - before url to specify the method PUT via a variable created in controller%>
  <div class="row">
    <div class="large-6 medium-6 small-12 columns">
      <%= f.label "Name" %> <!-- title is the name of the instance varaible to name this with -->
      <%= f.text_field :name, "Name" => nil, :required => true %>
    </div>
    <div class="large-6 medium-6 small-12 columns">
      <%= f.label @item.creator_type.capitalize %>
      <%= f.text_field :creator, :creator => nil  %>
    </div>
    <div class="large-12 columns">
      <%= f.label :description %>
      <%= f.text_area :description, :description => nil, :rows => "3"%>
    </div>
  </div>
  <%= f.submit action_name, class: 'submit_btn' %>
<% end %>
</div>


<%# params %>
