
<div class="row">
  <div class="large-12 columns">

    <h2><%= @item.name %> <small> <%= @item.creator_job.capitalize %> By: <%=@item.creator%></small></h2>
    <h4>Upvotes: <%= @item.rank %></h4>

    <p>
      <%= @item.description%>
    </p>

    <%=  button_to("Upvote ", {action: "upvote", method: "post", id: @item.id}, class: 'upvote_btn') %>
    <%=  button_to("Edit #{@item.name}", {:controller => params[:controller], :action => 'edit'}, {:method => :get, :id => @item.id, class: 'btn'})%>
    <%=  button_to("DELETE", {:controller => params[:controller], :action => 'destroy', id: params[:id]}, {method: :delete, class: 'btn delete_btn', data: {confirm: "Are you sure you want to delete this #{@item.class}?" }} ) %>
    <%=  button_to("View all #{params[:controller]} ", {:controller => params[:controller], :action => 'index'}, {method: :get, class: 'btn'} ) %>
    <%=  button_to("View all media", index_path, {method: :get, class:'btn'}) %>
  </div>
</div>



<%# params %>
