
<h1><%= @item.name %></h1>
<h3>Directed By: <%=@item.creator%></h3>
<div class=rank><%= @item.rank %></div>
<p>
  <%= @item.description%>
</p>


<%=  button_to("Upvote ", action: "upvote", method: "post", id: @item.id) %>

<%=  button_to("Edit #{@item.name}", {:controller => params[:controller], :action => 'edit'}, {:method => :get, :id => @item.id, class: 'btn'})%>
<%=  button_to("DELETE", {:controller => params[:controller], :action => 'destroy', id: params[:id]}, {method: :delete, class: 'delete_btn', data: {confirm: "Are you sure you want to delete this #{@item.class}?" }} ) %>

<%=  button_to("View all #{params[:controller]} ", {:controller => params[:controller], :action => 'index'}, {method: :get, class: 'btn'} ) %>
<%=  button_to("View all media", index_path, {method: :get, class:'btn'}) %>



<%= params %>
