<!DOCTYPE html>
<html>
<head>
  <title>MediaRanker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <h1><%= link_to("MediaRanker", index_path, method: :get) %> <td> Ranking the Best of Everything</td></h1>   <%# The td is for a cell in a table, but here it is keeping these 2 things on the same line %>

</header>

<%= yield %>

</body>
</html>
